{% extends 'index.html' %}

{% block content %}

<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="https://scontent.fpat2-2.fna.fbcdn.net/v/t39.30808-6/265615514_3002903633291697_2813122880121016712_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=zyyalEC7Dk0AX8tuBvx&_nc_oc=AQlEdbB5UCCNsXFSj8Fg7S_32ol9oPwN_k8aej_kBiKS2eSNuhwvyCPyROR8CpYqmBGZY_yyZYvvuwSdH3gblfb_&_nc_ht=scontent.fpat2-2.fna&oh=00_AT8VtreZLPL-BQ6PknQBTOPDBj4DhM3pvhaDENXSn8Fffw&oe=62B9F340" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Ajay Pandit</h2>
        <p class="title">Developer</p>
        <p>Python developer from CIST Bhopal</p>
        <p>codeaj123@gmail.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team2.jpg" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>mike@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="/w3images/team3.jpg" alt="John" style="width:100%">
      <div class="container">
        <h2>John Doe</h2>
        <p class="title">Designer</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>john@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>



{% endblock %}